*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
  all: unset;
  cursor: pointer;   
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

/* _reset.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
