*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
  all: unset;
  cursor: pointer;   
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

