$backgroundcolor: red; 

$color1: #46467A ;
$color2: #7766C6 ;
$color3: #E0DFFD ;
$color4: #ffc212 ;
$color5: #F9B0C3 ;
$color6: #ABC4FF ;

$fontText1: "Montserrat Alternates", sans-serif;
$fontText2:"Urbanist", sans-serif;