@use '../core/variables' as v; 

.contact {
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 

    h2 {
        margin-bottom: 40px;
        color: v.$color1;
        font-size: 2.2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px; 
        padding: 40px;
        
        
        background-color: v.$color3; 
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

    label {
        font-weight: bold;
        color: v.$color1; 
        margin-bottom: -5px; 
        font-size: 1.1rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid v.$color2;
        border-radius: 4px;
        font-size: 1rem;
        transition: border-color 0.3s ease;
        
        &:focus {
            border-color: v.$color4; 
            outline: none;
        }
    }

    textarea {
        resize: vertical; 
        min-height: 150px;
    }

    .button {
        background-color: v.$color2; 
        color: white; 
        padding: 15px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 20px;
        transition: background-color 0.3s ease, transform 0.1s ease;

        &:hover {
            background-color: darken(v.$color2, 10%); 
        }
        &:active {
            transform: scale(0.99);
        }
    }
}

// ------------------------------------
// Estilos para el Modo Oscuro
// ------------------------------------
.dark .contact {
    h2 {
        color: v.$color3; 
    }

    &__form {
        background-color: v.$color1; 
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    }
    
    label {
        color: v.$color3;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background-color: darken(v.$color1, 5%); 
        color: v.$color3;
        border-color: v.$color2;
    }
}