@import '../core/variables';

.fixed-toggle {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    
  }
}
