

.fixed-toggle {
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-color: $color1; 
    color: $color3; 
    
    border: 2px solid $color3; 
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000; 
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.8;
        transform: scale(1.05);
    }
}