

@use '../core/variables' as v; 

.formacion {
    padding: 60px 20px;
    
    h1 {
        text-align: center;
        margin-bottom: 40px;
        color: v.$color1; 
    }

    &__div {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid v.$color3; 
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    &__detalls {
        flex: 3; 
        h2 {
            color: v.$color2;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .formacion__institucio {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .formacion__durada {
            font-style: italic;
            margin-bottom: 20px;
            color: gray;
        }
    }

    &__logo-container {
        flex: 1;
        text-align: center;
    }
    
    &__logo {
        max-width: 150px;
        height: auto;
        opacity: 0.8;
    }
    
    
    &__tecnologies-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }
    .tech-tag {
        background-color: v.$color6; 
        color: v.$color1; 
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.9em;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

// dark mode
.dark .formacion {
    
    
    h1 {
        color: v.$color3; 
    }

    &__div {
        border-color: v.$color2;
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    }

    &__detalls {
        h2 {
            color: v.$color6;
        }
    }
}



@media (max-width: 768px) {
    .formacion__div {
        flex-direction: column; 
        align-items: stretch;
    }
    .formacion__logo-container {
        order: -1; 
        margin-bottom: 20px;
    }
}