@import '../core/variables';

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $color5;
    font-family: $fontText2;
    height: 100px;
    padding-left: 22px;
    position: sticky;

    top: 0;

    &__logo{
        height: 100%;
    }

    &__list{
        display: flex;
        
        li{
            margin-right: 10px;
            padding: 10px;
        }
    }

   
}

