

@use '../core/variables' as v;

.home {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
    gap: 50px;
    width: 100%; 

    &__presentation {
        max-width: 65%; 
    }

    &__logo-container {
        // width: auto; 
        // height: auto; 
    }
    
    &__logo {
        // height: 350px;
        max-width: 100%; 
        // width: auto; 
    }
}


@media (max-width: 900px) {
    .home {
       
        flex-direction: column; 
        margin-top: 20px;
        padding: 20px ;
        gap: 30px; 
        align-items: center;
        
        &__presentation {
            
            max-width: 100%;
            text-align: center; 
        }

        &__logo-container {
            
             max-width: 250px;
        }

        &__logo {
           
            height: auto; 
            max-width: 100%; 
        }
    }
}