@use '../core/variables' as v;

.home {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
   // gap: 24px;
    width: 100%; 

    &__title {
        margin: 0;
    }

    &__presentation {
        
        max-width: 65%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

    }

    &__logo {
        
        display: block;
        margin: 0 auto;
    
        transform-origin: center;
        max-width: 500px;
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
    
    &__content {
    width: 80%;
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 120px;
    box-sizing: border-box;
}
}



@media (max-width: 900px) {
    .home {
        
        padding: 40px 20px; 
        margin-top: 20px;
        gap: 30px; 
        
       
        &__content {
            
            width: 100%;
            gap: 30px; 
        }

        &__presentation {
            max-width: 100%; 
            text-align: center; 
        }

        &__logo {
           
            max-height: 250px; 
            
           
            max-width: 100%;
            
            height: auto; 
            width: auto;
        }
    }
}


