@import '../core/variables';

.title{
    color: $color6;
}
.dark{
    background-color: $color1;
    color: $color3;
    min-height: 100vh;
    font-family: $fontText1;
}

.light{
    background-color: $color3;
    color: $color1;
    min-height: 100vh;
    font-family: $fontText1;
}

body {
    margin: 0;
    padding: 0;
    font-family:$fontText1;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $color3; 
}