.sobremi{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    justify-content: center;

    &__selfie{
        width: 250px; 
        height: 50%;
        border-radius: 20px; 
        object-fit: cover; 
        border: 3px solid #7766C6; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


    }
