

@use '../core/variables' as v; 

.sobre-mi {
    padding: 60px 20px;
    
    h1 {
        text-align: center;
        margin-bottom: 40px;
        color: v.$color3;
    }

    &__content-grid {
        
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px;
        max-width: 1200px;
        margin: 0 auto;
        
        padding: 40px;
        border-radius: 8px;
        background-color: transparent; 
    }
    
    &__presentacio {
        h2 {
            color: v.$color2;
            margin-top: 0;
            margin-bottom: 20px;
        }
        p {
            line-height: 1.7;
            margin-bottom: 15px;
        }
    }

    &__destacat {
        
        background-color: v.$color6; 
        padding: 20px;
        border-radius: 4px;
        align-self: start; 
        
        h3 {
            color: v.$color1;
            margin-top: 0;
            border-bottom: 2px solid v.$color1;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
    }

    &__skills-list {
        list-style: none;
        padding: 0;
        li {
            padding: 8px 0;
            font-size: 1.1em;
        }
    }
}


@media (max-width: 900px) {
    .sobre-mi__content-grid {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 20px;
    }
}